<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="GameCenterDatabaseConnectionString"
		providerName="System.Data.SqlClient"
		connectionString="Server=localhost;Database=GameCenterDatabase;Connection Timeout=5;Integrated Security=false;Password=Lösenordet123;User=baseUser;" />
	</connectionStrings>
</configuration>